In [2]:
import pandas as pd
import matplotlib as plt

In [3]:
df = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
nan_col = [i for i in df.columns if df[i].isnull().any()]
for i in nan_col:
    print(i, df[i].isnull().sum())

LotFrontage 259
Alley 1369
MasVnrType 872
MasVnrArea 8
BsmtQual 37
BsmtCond 37
BsmtExposure 38
BsmtFinType1 37
BsmtFinType2 38
Electrical 1
FireplaceQu 690
GarageType 81
GarageYrBlt 81
GarageFinish 81
GarageQual 81
GarageCond 81
PoolQC 1453
Fence 1179
MiscFeature 1406

In [5]:
droppped_cols = ['Alley','MasVnrType','FireplaceQu','PoolQC','Fence','MiscFeature']
df = df.drop(droppped_cols,axis=1)
test = test.drop(droppped_cols,axis=1)

In [6]:
df = df.apply(lambda x : x.fillna(x.value_counts().index[0]))
test = test.apply(lambda x : x.fillna(x.value_counts().index[0]))

In [7]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [8]:
test = pd.get_dummies(test).astype(int)
df = pd.get_dummies(df).astype(int)
test.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80,11622,5,6,1961,1961,0,468,...,0,0,0,1,0,0,0,0,1,0
1,1462,20,81,14267,6,6,1958,1958,108,923,...,0,0,0,1,0,0,0,0,1,0
2,1463,60,74,13830,5,5,1997,1998,0,791,...,0,0,0,1,0,0,0,0,1,0
3,1464,60,78,9978,6,6,1998,1998,20,602,...,0,0,0,1,0,0,0,0,1,0
4,1465,120,43,5005,8,5,1992,1992,0,263,...,0,0,0,1,0,0,0,0,1,0

In [9]:
df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65,8450,7,5,2003,2003,196,706,...,0,0,0,1,0,0,0,0,1,0
1,2,20,80,9600,6,8,1976,1976,0,978,...,0,0,0,1,0,0,0,0,1,0
2,3,60,68,11250,7,5,2001,2002,162,486,...,0,0,0,1,0,0,0,0,1,0
3,4,70,60,9550,7,5,1915,1970,0,216,...,0,0,0,1,1,0,0,0,0,0
4,5,60,84,14260,8,5,2000,2000,350,655,...,0,0,0,1,0,0,0,0,1,0

In [10]:
train_cols = df.columns
test_cols = test.columns

common_cols = train_cols.intersection(test_cols)
train_not_test = train_cols.difference(test_cols)
print(train_not_test)

Index(['Condition2_RRAe', 'Condition2_RRAn', 'Condition2_RRNn',
       'Electrical_Mix', 'Exterior1st_ImStucc', 'Exterior1st_Stone',
       'Exterior2nd_Other', 'GarageQual_Ex', 'Heating_Floor', 'Heating_OthW',
       'HouseStyle_2.5Fin', 'RoofMatl_ClyTile', 'RoofMatl_Membran',
       'RoofMatl_Metal', 'RoofMatl_Roll', 'SalePrice', 'Utilities_NoSeWa'],
      dtype='object')

In [11]:
for i in train_not_test:
    test.insert(251,i,0)
test = test.drop(columns='SalePrice',axis=1)

In [12]:
test.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,Heating_OthW,Heating_Floor,GarageQual_Ex,Exterior2nd_Other,Exterior1st_Stone,Exterior1st_ImStucc,Electrical_Mix,Condition2_RRNn,Condition2_RRAn,Condition2_RRAe
0,1461,20,80,11622,5,6,1961,1961,0,468,...,0,0,0,0,0,0,0,0,0,0
1,1462,20,81,14267,6,6,1958,1958,108,923,...,0,0,0,0,0,0,0,0,0,0
2,1463,60,74,13830,5,5,1997,1998,0,791,...,0,0,0,0,0,0,0,0,0,0
3,1464,60,78,9978,6,6,1998,1998,20,602,...,0,0,0,0,0,0,0,0,0,0
4,1465,120,43,5005,8,5,1992,1992,0,263,...,0,0,0,0,0,0,0,0,0,0

In [46]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=500)

In [47]:
y = df['SalePrice']
X = df.drop('SalePrice',axis=1)
X = X.reindex(sorted(X.columns),axis=1)

In [48]:
test = test.reindex(sorted(test.columns),axis=1)

In [49]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [50]:
model.fit(x_train,y_train)

RandomForestRegressor(n_estimators=500)

In [51]:
y_pred = model.predict(x_test)

In [52]:
from sklearn.metrics import mean_absolute_error

print(mean_absolute_error(y_test,y_pred))

17589.58882876712

In [53]:
model.fit(X,y)

'model.fit(X,y)'

In [54]:
results = model.predict(test)
test['SalePrice'] = results
submission = test[['Id','SalePrice']]
submission.to_csv('submission.csv',index=False)

"results = model.predict(test)\ntest['SalePrice'] = results\nsubmission = test[['Id','SalePrice']]\nsubmission.to_csv('submission.csv',index=False)"